flows(1).json
[{"id":"a82fdc2a.45b35","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"20b671e2.0c18ce","type":"function","z":"a82fdc2a.45b35","name":"PreToken","func":"global.set(\"pr\",msg.payload.pr)\nglobal.set(\"pl\",msg.payload.pl)\nglobal.set(\"pre\",msg.payload.pre)\nglobal.set(\"sk\",msg.payload.sk)\nglobal.set(\"tst\",msg.payload.tst)\nglobal.set(\"ms\",msg.payload.ms)\nglobal.set(\"pe\",msg.payload.pe)\nglobal.set(\"a\",msg.payload.a)\nvar apikey=\"HQC7pHyUH1N7s5kJVJkF5zYu3yOiV4Khty34AxF7ufBv\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":440,"wires":[["1ccf4763.68be29"]]},{"id":"1ccf4763.68be29","type":"http request","z":"a82fdc2a.45b35","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":479,"y":428.9999952316284,"wires":[["328dbd6e.1de122"]]},{"id":"98ea8f49.8e655","type":"debug","z":"a82fdc2a.45b35","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":918.0000114440918,"y":170.99999713897705,"wires":[]},{"id":"328dbd6e.1de122","type":"function","z":"a82fdc2a.45b35","name":"Pre Prediction","func":"var pr = global.get('pr')\nvar pl = global.get('pl')\nvar pre = global.get('pre')\nvar sk = global.get('sk')\nvar tst = global.get('tst')\nvar ms = global.get('ms')\nvar pe = global.get('pe')\nvar a = global.get('a')\nvar token=msg.payload.access_token\nvar instance_id=\"b472d09b-733c-4c7b-b0a9-ba46c985f67d\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"preg\", \"plas\", \"pres\", \"Skin\",\"test\",\"mass\",\"pedi\",\"age\"], \"values\": [[pr,pl,pre,sk,tst,ms,pe,a]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":676.0000076293945,"y":391.9999990463257,"wires":[["dc6b86ec.3d5858"]]},{"id":"dc6b86ec.3d5858","type":"http request","z":"a82fdc2a.45b35","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/v4/deployments/089c2493-0bb3-4d6e-b843-acb5517220b5/predictions","tls":"","persist":false,"proxy":"","authType":"","x":769.5000076293945,"y":335.9999990463257,"wires":[["a31203ad.c019e","98ea8f49.8e655"]]},{"id":"e811bc1.c02ce4","type":"ui_form","z":"a82fdc2a.45b35","name":"","label":"","group":"5d1bd882.8a9a28","order":1,"width":0,"height":0,"options":[{"label":"preg","value":"pr","type":"number","required":true,"rows":null},{"label":"plas","value":"pl","type":"number","required":true,"rows":null},{"label":"pres","value":"pre","type":"number","required":true,"rows":null},{"label":"Skin","value":"sk","type":"number","required":true,"rows":null},{"label":"test","value":"tst","type":"number","required":true,"rows":null},{"label":"mass","value":"ms","type":"number","required":true,"rows":null},{"label":"pedi","value":"pe","type":"number","required":true,"rows":null},{"label":"age","value":"a","type":"number","required":true,"rows":null}],"formValue":{"pr":"","pl":"","pre":"","sk":"","tst":"","ms":"","pe":"","a":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":71,"y":482.9999952316284,"wires":[["20b671e2.0c18ce"]]},{"id":"7b22b754.156358","type":"ui_text","z":"a82fdc2a.45b35","group":"5d1bd882.8a9a28","order":2,"width":0,"height":0,"name":"","label":"Class","format":"{{msg.payload}}","layout":"row-spread","x":797.6000366210938,"y":488.20000743865967,"wires":[]},{"id":"a31203ad.c019e","type":"function","z":"a82fdc2a.45b35","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":629.6000366210938,"y":231.60000133514404,"wires":[["7b22b754.156358"]]},{"id":"5d1bd882.8a9a28","type":"ui_group","z":"","name":"Diabetic Mellitus Prediction","tab":"8d3ba6f0.9275f8","order":1,"disp":true,"width":"6","collapse":false},{"id":"8d3ba6f0.9275f8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]